/* 드라이브 Create 전용 테이블 스타일 */

.my-cancel-btn {
  background-color: #fff !important;   /* 흰색 배경 */
  color: #212529 !important;           /* 다크 텍스트 */
  border: 1px solid #ccc !important;   /* 옅은 회색 테두리 */
  border-radius: 5px !important;       /* 5px 라운딩 */
}

.my-cancel-btn:hover {
  background-color: #f8f9fa !important; /* hover 시 살짝 회색 */
}

.bg-gradient-dark {
    background-image: linear-gradient(195deg, #191919 0%, #191919 100%) !important;
}